@import "./colors.css";

:root {
    --color-foreground: var(--color-gray-lightest);
    --font-default: 'Josefin Sans';
}

body {
    min-height: 100vh;
    margin: 0;

    color: var(--color-foreground);

    background: linear-gradient(45deg,
    var(--color-brown-darkest) 0%,
    var(--color-brown-darker) 75%,
    var(--color-brown-dark) 100%);

    font-family: var(--font-default), sans-serif;
}

button, input[type="text"] {
    background: transparent;
    color: var(--color-gray-lightest);
    border: 2px solid var(--color-gray-lighter);
    font: var(--font-default), sans-serif;
    border-radius: 8px;
    padding: 0.5rem;
}

button {
    transition: border-color 100ms ease-in-out;

    &:hover:not(:disabled) {
        border-color: var(--color-gray-lightest);
        cursor: pointer;
    }

    &:disabled {
        opacity: 0.5;
    }
}

input[type="text"] {
    box-sizing: border-box;
    font-size: 0.9em;
}

svg path {
    width: 24px;
    height: 24px;
}